<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Nalco.Diagnostics.ErrorHandling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Nalco.Diagnostics.ErrorHandling.Properties.Settings>
			<setting name="ToAddress" serializeAs="String">
				<value>datamobilitynotify@nalco.com</value>
			</setting>
			<setting name="FromAddress" serializeAs="String">
				<value>datamobilitynotify@nalco.com</value>
			</setting>
			<setting name="MailServer" serializeAs="String">
				<value>relay.pair.com</value>
			</setting>
			<setting name="MailServerPort" serializeAs="String">
				<value>25</value>
			</setting>
		</Nalco.Diagnostics.ErrorHandling.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
</configuration>
